<% if user_signed_in? %>
  <nav class="navbar navbar-default no-margin shadow">

    <!-- navbar-top-left -->
    <ul class="nav navbar-nav navbar-top">
      <li id="fat-menu">
        <a href="./../doctor-portal.html" class="center" role="button" aria-haspopup="false" aria-expanded="false"><i
                                                                                             class="fa fa-home"></i><span>Menu</span></a>
      </li>
      <li class="active" id="fat-menu">
        <a href="./patient-dashboard.html" class="center" role="button" aria-haspopup="false" aria-expanded="false"><i
                                                                                              class="fa fa-user-injured"></i><span>Pacientes</span></a>
      </li>
      <li id="fat-menu">
        <a href="./../NotasDevolucion/note-dashboard.html" class="center" role="button" aria-haspopup="false"
                                                                                        aria-expanded="false"><i class="fa fa-file-prescription"></i><span>Notas de Devolucion</span></a>
      </li>
    </ul>
    <!-- /navbar-top-left -->

    <i class="navbar-brand"></i>
    <ul class="nav navbar-nav navbar-right">
      <li id="fat-menu" class="dropdown"> <a class="dropdown-toggle center" id="drop3" data-toggle="dropdown"
                                                                                       role="button" aria-haspopup="true" aria-expanded="false"><i class="far fa-user"></i></a>
        <ul class="dropdown-menu" aria-labelledby="drop3">
          <li><button class="btn col-md-12" id="logout_button">Salir</button></li>
        </ul>
      </li>
    </ul>
    <!-- /.navbar-top-right -->
  </nav>
  <!-- /navigation -->
<% end %>
